API_ID=
API_HASH=
PHONE_NUMBER=
CHANNEL_NAME=Project V || SIGNAL
SIGNAL_OUTPUT_PATH=C:\Users\<username>\AppData\Roaming\MetaQuotes\Terminal\<terminal-id>\MQL5\Files\signal.json
GOOGLE_SERVICE_ACCOUNT_FILE=C:\Users\<username>\Documents\google-service-account.json
GOOGLE_SHEET_ID=1ePcGAytolZYXUnURjmeVhozx8ft424ljHYoS2rFJZhw
GOOGLE_SHEET_WORKSHEET_ID=0
